<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Deckr{% endblock %}</title>
    {% load staticfiles %}
    <!-- JS -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{% static 'js/sockjs/sockjs.js' %}"></script>
    <script src="{% static 'js/protobuf/Long.js' %}"></script>
    <script src="{% static 'js/protobuf/ByteBuffer.js' %}"></script>
    <script src="{% static 'js/protobuf/ProtoBuf.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    {% block morejs %}{% endblock %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block morecss %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <span id="logo"><a href="{% url 'webclient.index' %}">Deckr</a></span>
      <nav id="top-nav">
        <ul>
          <li class="btn"><a href="{% url 'create_game' %}">Create Game</a></li>
          <li class="btn"><a href="{% url 'lobby' %}">Find Game</a></li>
        </ul>
      </nav>
    </div>
    {% block body %}{% endblock %}
  </body>
</html>
