{% extends 'webclient/base.html' %}
{% block morejs %}
  {% load staticfiles %}
  <script type="text/javascript" src="{% static 'js/sockets.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/proto.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/game.js' %}"></script>
  <script type="text/javascript">
    var game_id = parseInt('{{ game.game_id }}');
    var is_player = Boolean('{{ is_player }}');
  </script>
{% endblock %}
{% block body %}

<div class="wrapper">
  <h1>Game (id: {{ game.game_id }}, name: {{ game.name }})</h1>

  <div class="player-info">
    <h2>Player: {{ nick }}</h2>
    <p><span class="your-turn"></span></p>
    <p>Cards in deck: <span class="cards-in-deck"></span></p>
  </div>

  <div class="game-actions">
    <button class="start-game">Start Game</button>
    <button class="pass-priority">Pass Priority</button>
  </div>
</div>

{% endblock %}
