{% extends 'webclient/base.html' %}
{% block morejs %}
  {% load staticfiles %}
  <script type="text/javascript">
    var nick = parseInt('{{ nick }}');
    var game_id = parseInt('{{ game.game_id }}');
    var game_name = parseInt('{{ game.name }}');
    var is_player = Boolean('{{ is_player }}');
  </script>
  <script type="text/javascript" src="{% static 'js/sockets.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/proto.js' %}"></script>
  {% load render_bundle from webpack_loader %}
{% endblock %}
{% block body %}
  <div id="room"></div>
  {% render_bundle 'main' %}
{% endblock %}
